<template>


    <Banner_Layout/>
</template>

<script>
import Banner_Layout from '../Components/Banner/Banner_Layout.vue';
export default{
    name: "HomePage",
    components: { Banner_Layout }
}

</script>