<template>
  <div>
    <div class="bg-white lg:w-4/12 md:6/12 w-10/12 m-auto my-10 shadow-md">
      <div class="py-8 px-8 rounded-xl">
        <h1 class="font-medium text-2xl mt-3 text-center">Đăng nhập</h1>
        <form class="mt-6" @submit.prevent="onFinish">
          <div class="my-5 text-sm">
            <label for="username" class="block text-black">Tài khoản</label>
            <input
              v-model="formData.taiKhoan"
              type="text"
              name="taiKhoan"
              class="rounded-sm px-4 py-3 mt-3 focus:outline-none bg-gray-100 w-full"
              placeholder="Username"
              autofocus
            />
          </div>
          <div class="my-5 text-sm">
            <label for="password" class="block text-black">Mật khẩu</label>
            <input
            v-model="formData.matKhau"
            type="password"
              name="matKhau"
              class="rounded-sm px-4 py-3 mt-3 focus:outline-none bg-gray-100 w-full"
              placeholder="Password"
            />
            <div class="flex justify-end mt-2 text-xs text-gray-600">
              <a href="#">Forget Password?</a>
            </div>
          </div>
          <div class="w-full"></div>
          <div class="flex w-full">
            <button
              type="submit"
              class="flex items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-600 hover:bg-blue-700 rounded py-2 w-full transition duration-150 ease-in"
            >
              Đăng nhập
            </button>
          </div>
        </form>

        <!-- ... Rest of the template ... -->

      </div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router'; 
import {userServ} from "../../service/userService"
import { message } from "ant-design-vue";
import { localUserServ } from "../../service/localService";

export default {
  name: "LoginPage",

  setup() {
    const router = useRouter(); 
    const formData = ref({
      taiKhoan: "",
      matKhau: "",
    });

    const onFinish = () => {
      userServ.loginUser(formData.value)
        .then((res) => {
          message.success("Đăng nhập thành công");
          localUserServ.set(res.data.content);
          setTimeout(() => {
            router.push("/");
          }, 1500);
        })
        .catch((err) => {
          message.error("Đăng nhập thất bại");
          console.log(err);
        });
    };
    return {
      formData,
      onFinish,
    };
  },
};
</script>

