<template>
<div class="space-x-5">
    <template v-if="userInfo">
      <Menu as="div" class="relative ml-3">
              <div>
                <MenuButton class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <span class="sr-only">Open user menu</span>
                  <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
                  <span class="text-black">{{ userInfo.hoTen }}</span>
                </MenuButton>
              </div>
              <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                <MenuItems class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                  <MenuItem v-slot="{ active }">
                    <a @click="handleLogout" href="#" :class="[active ? 'bg-gray-100' : '', 'block px-4 py-2 text-sm text-gray-700']">Đăng xuất</a>
                  </MenuItem>
                </MenuItems>
              </transition>
            </Menu>
    </template>
    <template v-else>
         <router-link to="/login" class="text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Đăng nhập</router-link>
         <router-link to="" class="text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Đăng ký</router-link>
    </template>
</div>
</template>

<script setup>
import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { ref } from 'vue';
import { localUserServ } from '../../service/localService';

const userInfo = ref(localUserServ.get());

const handleLogout = () => {
  localUserServ.remove();
  window.location.href = '/login';
}
</script>

