<template>
  <div>
     <Header_Layout/>
    <div>
      <component :is="Component" />
    </div>
    <Footer_Layout/>
  </div>
</template>

<script>
import Header_Layout from '../Components/Header/Header_Layout.vue';

import Footer_Layout from '../Components/Footer/Footer_Layout.vue';
export default{
    props: {
    Component: {
      type: Object,
      required: true,
    },
    },
    components: { Header_Layout, Footer_Layout }
}


</script>